@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delius+Unicase:wght@400;700&family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
  }
  #root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 245, 255);
    background-image: url("./src/assets/login-bg.jpg");
  }
}

@layer utilities {
  .input {
    @apply p-2 border w-10/12 border-green-400 rounded outline-0 mt-4;
  }

  .filter-btn {
    @apply px-4 py-1 rounded-3xl border border-teal-600 shadow shadow-gray-400;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background-color: #c6cedd;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
